{% extends ':Emails:theme1.html.twig' %}

{% block body %}
    <img src="https://static.wtis.com.br/c/rogeriomenezes/header1.jpg?20180114013600">
    <div style="line-height:1.5;font-family:arial, helvetica, sans-serif;color:#4e4e4e;text-align:justify;font-size:16px;min-height:16px;vertical-align:top;padding:10px 30px">
        <br>
        Olá, {{ (contato.nome|split(' '))|first }}!<br><br>

        Registramos seu contato com o número de protocolo
        <strong>{{ protocolo }}</strong> e o mesmo será atendido no prazo máximo de 48h úteis.<br><br>
        Se tiver alguma dúvida estamos à disposição.
        <br><br>
        <div style="font-size: 11px"> Mensagem original:</div><br><br>
        <div style="border-left: #CCCCCC 2px solid; padding: 20px">
            Remetente: {{ contato.nome }}<br>
            Email: {{ contato.email }}<br>
            Telefone: {{ contato.telefone }}<br>
            Assunto: {{ contato.assunto }}<br><br>
            Mensagem<br><br> {{ contato.mensagem }}<br>
        </div>
    </div>
{% endblock %}