<footer class="footer">
    <div class="center-1200 content-1200">
        <div class="row menu">
            <div class="col-xs-2">
                <ul>
                    <li class="title">Sobre n처s</li>
                    <li><a href="{{ path('sobre-nos') }}">Hist처ria</a></li>
                    <li><a href="{{ path('sobre-nos') }}">Infraestrutura</a></li>
                    <li><a href="{{ path('contato') }}">Fale conosco</a></li>
                </ul>
            </div>
            <div class="col-xs-2">
                <ul>
                    <li class="title">Leil천es</li>
                    <li><a href="{{ path('leiloes') }}">Pr처ximos</a></li>
                </ul>
            </div>
            <div class="col-xs-2">
                <ul>
                    <li class="title">Ajuda</li>
                    <li><a href="{{ path('como-funciona') }}">Como funciona</a></li>
                    <li><a href="{{ path('regulamento') }}">Regulamento</a></li>
                </ul>
            </div>
            <div class="col-xs-6 fbuttons">
                <a href="{{ path('documento') }}" class="btn btn-default m-r-md">Meu documento chegou?</a>
                <a href="{{ path('cadastro') }}" class="btn btn-bg-transparent m-r-sm">Cadastro</a>
                <a href="{{ path('security_login_form') }}" class="btn btn-info">Login</a>
            </div>
        </div><!-- Fim Colunas -->

        <div class="row frow2">
            <div class="col-sm-6">
                <div class="footer-copyright">
                    <p class="copy">&copy; 2017 todos os direitos reservados</p>
                    <p class="contatos">Telefone: (21) 3812-4300 - e-mail: contato@rogeriomenezes.com.br</p>
                    <p class="localizacao">Av. Brasil, 51.467 - Campo Grande - RJ - CEP: 23065-480</p>
                    <p class="dev">Desenvolvido pela <a href="https://www.wtis.com.br">Wtis</a></p>
                </div>
            </div>
            <div class="col-sm-6 col-rss">
                <ul class="rss">
                    <li>
                        <a class="text-white" href="https://api.whatsapp.com/send?phone=21965700122" target="_blank">
                            <img src="{{ asset('images/icon-whatsapp.png') }}" alt="WhatsApp"> &nbsp;&nbsp;(21) 9
                            6570-0122
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/rogeriomenezesleiloeiro/" target="_blank">
                            <img src="{{ asset('images/icon-facebook.png') }}" alt="Facebook">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/rogeriomenezesleiloeiro/" target="_blank">
                            <img src="{{ asset('images/icon-instagram.png') }}" alt="Instagram">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/rogeriomenezesleiloeirorml" target="_blank">
                            <img src="{{ asset('images/icon-youtube.png') }}" alt="Youtube">
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div><!-- Fim Center -->
</footer>