{% extends 'base.html.twig' %}

{% block title %}
    <title>{{ leilao.titulo }} | Rogério Menezes</title>
{% endblock %}

{% block metas %}
    {{ parent() }}
    <meta name="description"
          content="O Leilão acontecerá {{ leilao.dataAbertura| localizeddate('none', 'none', 'pt-BR', null, "EEEE" ) }}, Dia {{ leilao.dataAbertura|date('d/m') }}
                        , às {{ leilao.dataAbertura|date('H') }} horas"/>
    <meta property="og:title" content="{{ leilao.titulo }}"/>
    <meta property="og:description"
          content="O Leilão acontecerá {{ leilao.dataAbertura| localizeddate('none', 'none', 'pt-BR', null, "EEEE" ) }}, Dia {{ leilao.dataAbertura|date('d/m') }}
                        , às {{ leilao.dataAbertura|date('H') }} horas."/>
    <meta property="og:url" content="{{ url(app.request.get('_route'), {id: leilao.id}) }}"/>
    <meta property="og:image"
          content="{{ app.request.uriForPath('/images/og-facebook/og-leilao.jpg') | replace({'/app_dev.php': ''}) }}"/>
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <!-- Go to www.addthis.com/dashboard to customize your tools --> <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5ae8c75fae8843f7"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Cache Control Info -->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/leilao.lotes.css') }}">
    <!-- Core CSS file -->
    <link rel="stylesheet" href="{{ asset('vendors/photoswipe/photoswipe.css') }}">

    <link rel="stylesheet" href="{{ asset('vendors/photoswipe/default-skin/default-skin.css') }}">
{% endblock %}

{% block javascripts %}
    <script>
      var __STATSLEILAO_URL__ = "{{ path('uapi_stats_leilao_click', {leilao: leilao.id}) }}";
      //var __FAVORITO_URL__ = "{{ path('uapi_history_favoritos_add_leilao', {id: '__ID__'}) }}";
      var __FAVORITO_ID__ = {{ leilao.id }};
      var __FAVORITO_ITEM__ = {
        id: {{ leilao.id }},
        titulo: "{{ leilao.titulo }}",
        url: "{{ url('leilao', {id: leilao.id}) }}",
        leilaoData: "{{ leilao.dataAbertura|date('Y-m-d H:i:s') }}"
      };
    </script>
    {{ parent() }}
    <!-- Core JS file -->
    <script src="{{ asset('vendors/photoswipe/photoswipe.min.js') }}"></script>
    <!-- UI JS file -->
    <script src="{{ asset('vendors/photoswipe/photoswipe-ui-default.min.js') }}"></script>
    <script src="{{ asset('js/stats.js') }}"></script>
    <script src="{{ asset('js/pages/leilao.lotes.js') }}"></script>
{% endblock %}

{% block body %}
    <div id="filterOverlay" class="filter-overlay hide">
        <i class="fa fa-spin fa-spinner fa-3x"></i>
    </div>
    <div class="leilao-header clearfix">
        <div class="center-1200 content-1200">
            <div class="row">
                <div class="titulo col-md-6">
                    <h1>{{ leilao.titulo }}
                        <small>{{ totalLotes }} lotes</small>
                    </h1>
                    <span class="local">{{ leilao.infoVisitacao }}</span>
                </div>
                <div class="data col-md-6">
                    <span class="data">{{ leilao.dataAbertura| localizeddate('none', 'none', 'pt-BR', null, "EEEE" ) }}, Dia {{ leilao.dataAbertura|date('d/m') }}
                        , às {{ leilao.dataAbertura|date('H') }} horas</span> {# \\hi #}
                    {% if leilao.tipo == 0 or leilao.tipo == 2 %}
                        <button class="btn btn-xs btn-success" title="Este leilão acontecerá online">Online</button>
                    {% endif %}
                    {% if leilao.tipo == 1 or leilao.tipo == 2 %}
                        <button class="btn btn-xs btn-dark" title="Este leilão acontecerá presencial">Presencial
                        </button>
                    {% endif %}
                </div>

            </div>
        </div>
    </div><!-- Fim Center -->

    <div class="leilao-docs">
        <div class="center-1200 content-1200">
            {% for doc in leilao.documentos %}
                <a target="_blank"
                   href="{{ asset('public/leiloes/'~leilao.id~'/documentos/'~doc.id~'.'~doc.fileExtension) }}"><i
                            class="fa fa-file-text-o"></i> {{ doc.nome }}</a>
            {% endfor %}
            <a href="{{ path('como-funciona') }}"><i class="fa fa-question"></i> Como participar?</a>

            <!--<a href="#" class="compartilhar pull-right">Compartilhar</a>-->
            {# TODO: Remover Favorito #}
            <a href="#adicionar-favorito"
               title="Clique para adicionar este leilão na sua lista de favoritos. Você receberá avisos quando o pregão estiver próximo."
               class="item-favorite-btn tip pull-right" data-id="{{ leilao.id }}">
                <span>Adicionar aos Favoritos</span>
                <i class="fa fa-heart-o hide-hover"></i>
                <i class="fa fa-heart show-hover"></i>
            </a>
        </div>
    </div>
    <div class="center-1200 content-1200">
        <div class="addthis_inline_share_toolbox"></div>
    </div>

    <div class="leilao-content center-1200 content-1200">
        {# TODO: Mostrar filtros selecionados na versão mobile #}
        <button class="btn btn-default btn-lg btn-filtros hide"><i class="fa fa-filter"></i> Filtros</button>
        <button class="btn btn-default btn-lg btn-fechar-filtros"><i class="fa fa-close"></i></button>
        <form id="filterForm" action="{{ url('leilao', app.request.query.all|merge({id: leilao.id, page: 1})) }}"
              method="post">
            <div class="leilao-filtros2">
                <div class="filtro">
                    <span>Condição do Bem</span>
                    <ul class="lista">
                        <li><input name="condicao[]" type="checkbox" class="filterCondicao" value="7"
                                   id="condicao1" {{ 7 in app.request.get('condicao') ? 'checked' : '' }}>
                            <label for="condicao1">Sucata</label></li>
                    </ul>
                </div>
                <div class="filtro">
                    <span>Tipo do Bem</span>
                    <ul class="lista">
                        {% for tipo in filtros.tipos %}
                            <li>
                                <input name="tipo[]" type="checkbox" class="filterTipo" id="tipo{{ tipo.id }}"
                                       value="{{ tipo.id }}" {{ tipo.id in app.request.get('tipo') ? 'checked' : '' }}>
                                <label for="tipo{{ tipo.id }}">{{ tipo.nome }}
                                    <small>({{ tipo.totalItens }})</small>
                                </label>
                            </li>
                        {% endfor %}
                        {#<li><a href="#">Motos (20)</a></li>
                        <li><a href="#">Vans e Utilitários (1)</a></li>
                        <li><a href="#">Veículos Leves (10)</a></li>#}
                    </ul>
                </div>
                <!-- Fim Category -->

                <div class="filtro">
                    <span>Ano</span>
                    <ul class="lista">
                        <li class="intervalo-ano">
                            {% set ano = app.request.get('ano') %}
                            <div class="col-sm-5 no-padder"><input disabled type="text" name="ano[]" class="filterAno"
                                                                   id="filtroAno1" placeholder="Ano"
                                                                   value="{{ ano[0] is defined ? ano[0] : '' }}"></div>
                            <div class="col-sm-2 no-padder m-t-xs text-center">até</div>
                            <div class="col-sm-5 no-padder"><input disabled type="text" name="ano[]" class="filterAno"
                                                                   value="{{ ano[1] is defined ? ano[1] : '' }}"
                                                                   id="filtroAno2" placeholder="Ano"></div>
                            <div class="clearfix"></div>
                        </li>
                    </ul>
                </div>

                <div class="filtro">
                    <span>Marca</span>
                    <ul class="lista">
                        {% for marca in filtros.marcas %}
                            <li>
                                <input class="filterMarca" name="marca[]" type="checkbox" id="marca{{ marca.id }}"
                                       value="{{ marca.id }}" {{ marca.id in app.request.get('marca') ? 'checked' : '' }}>
                                <label for="marca{{ marca.id }}">{{ marca.nome }}
                                    <small>({{ marca.totalItens }})</small>
                                </label>
                            </li>
                        {% endfor %}
                        {#<li><a href="#">Chevrolet (22)</a></li>
                        <li><a href="#">Fiat (1)</a></li>
                        <li><a href="#">Ford (27)</a></li>#}
                    </ul>
                </div>

                <div class="filtro">
                    <span>Modelo</span>
                    <ul class="lista">
                        {% for modelo in filtros.modelos %}
                            <li>
                                <input class="filterModelo" name="modelo[]" type="checkbox" id="modelo{{ modelo.id }}"
                                       value="{{ modelo.id }}" {{ app.request.get('modelo') == modelo.id ? 'checked' : '' }}>
                                <label for="modelo{{ modelo.id }}">{{ modelo.nome }}
                                    <small>({{ modelo.totalItens }})</small>
                                </label>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                {#<form id="filterForm" action="{{ url('leilao', app.request.query.all|merge({id: leilao.id, page: 1})) }}" method="post">
                    <input name="condicao" id="filtroCondicao">
                    <input name="tipo" id="filtroTipo">
                    <input name="ano" id="filtroAno">
                    <input name="marca" id="filtroMarca">
                    <input name="modelo" id="filtroModelo">
                </form>#}
                <!-- Fim Category -->
                {#<div class="filtro">
                    <span>Comitentes</span>
                    <a href="{{ url('leilao', app.request.query.all|merge({comitente: null, id: leilao.id, page: 1})) }}"
                       class="btn-tudo selected">Ver Tudo</a>
                    <ul class="lista">
                        {% for comitente in filtros.comitentes %}
                            <li><a class="{{ app.request.get('comitente') == comitente.id ? 'selected' : '' }}"
                                   href="{{ url('leilao', app.request.query.all|merge({comitente: comitente.id, id: leilao.id, page: 1})) }}">{{ comitente.nome }}
                                    ({{ comitente.totalItens }})</a></li>
                        {% endfor %}
                    </ul>
                </div>#}
                <!-- Fim Category -->
            </div>
        </form>

        <div class="leilao-itens2 destaques2 clearfix">
            {% include 'utils/paginacao.html.twig' %}
            <div class="lista-destaques2">
                {% for lote in lotes %}
                    {% include 'utils/lista-lotes-v2.html.twig' %}
                {% endfor %}
            </div>
            <div class="clearfloat"></div>
            {% include 'utils/paginacao.html.twig' %}
        </div>
    </div>
    <div class="clearfloat"></div>
{% endblock %}