{% extends ':conta:base.html.twig' %}

{% block title %}
    <title>Meus Leilões Favoritos | Rogério Menezes</title>
{% endblock %}

{% block metas %}
    {{ parent() }}
    <meta name="robots" content="noindex">
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
      $(document).ready(function () {
        $('.removerFavorito').click(function (e) {
          e.preventDefault();
          var id = $(this).data('id');
          $(this).closest('a').remove();
          $.ajax(services.FavoritosUrl.leilao.replace('__ID__', id), {type: 'DELETE'})
            .done(function () {
              localStorage.removeItem('favoritos-leilao');
              console.log('Favorito removido');
              appHistoryBar._mount();
            });
        });
      });
    </script>
{% endblock %}

{% block content %}
    <div class="tab1">
        <h4>Leilões salvos como favoritos</h4>
        <div class="def-history-item">
            {% if favoritos|length > 0 %}
                {% for favorito in favoritos %}
                    {% set diff = favorito.dataAbertura|date('Y-m-d H:i') < "now"|date('Y-m-d H:i') %}
                    <a href="{{ path('leilao', {id: favorito.leilaoId}) }}"
                       class="def-hitem {{ diff or favorito.status > 97 ? 'encerrado' : '' }}">
                        <div class="item-col data">{{ diff or favorito.status > 97 ? 'Encerrou' : 'Encerra' }} {{ favorito.dataAbertura|date('d/m/Y H:i') }}</div>
                        <div class="item-col titulo">
                            <div class="titulo">{{ favorito.titulo }}</div>
                            <div class="subsitulo">
                                <!-- TODO: Comitentes -->
                            </div>
                        </div>
                        <div class="item-col actions">
                            <div class="removerFavorito tip" title="Remover este item da minha lista"
                                 data-id="{{ favorito.leilaoId }}"><i class="fa fa-remove"></i></div>
                        </div>
                    </a>
                {% endfor %}
            {% else %}
                <div class="m-t">Você ainda não adicionou nenhum leilão como favorito. Quando acessar o leilão, basta
                    clicar no
                    <i class="fa fa-heart"></i> para adicioná-lo em sua lista de favoritos. Adicionar aos
                    favoritos facilita para que possamos te manter informado sobre a priximidade do leilão, recomendar
                    lotes de acordo seu histórico de acesso e arremates, e muito mais.
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}