{% spaceless %}
<nav aria-label="Paginação">
    <ul class="pagination2">
        {#<li class="page-item"><a class="page-link" href="#">Anterior</a></li>#}
        {% for i in 1..totalPages %}
            <li class="page-item {{ paginaAtual==i ? 'disabled' : '' }}">
                <a class="page-link" href="{{ url('leilao', app.request.query.all|merge({id: leilao.id, page: i})) }}">
                    {{ i }}
                </a>
            </li>
        {% endfor %}
        {#<li class="page-item page-all {{ paginaAtual==0 ? 'disabled' : '' }}">
            <a class="page-link" href="{{ url('leilao', app.request.query.all|merge({id: leilao.id, page: 'all'})) }}">
                ver tudo
            </a>
        </li>#}
        {#<li class="page-item"><a class="page-link" href="#">Próxima</a></li>#}
    </ul>
</nav>
{% endspaceless %}